<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>

*{
    padding:0px;
    margin: 0px;
}

#container{
    height: 100px;
    width: 600px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    background-color: lightcoral;
    border-radius: 15px;
    box-shadow: 5px 5px 5px;
}
h3, h1, p {
text-align:center;
}

p {
    margin: 10px;
    font-size: 30px;
}



</style>
<body>

    <div id="container">
            <h1>Welcome to the Session Counter!!</h1>
            <h3>COUNTER</h3>
            
            <p>{{ total }}</p>
    </div>


</body>
</html>