<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Author</title>
</head>
<body>
    <div class="container">
        
        <h1 class="display-4">{{url_author.first_name}}</h1>

            <p class="font-weight-normal">ID : {{ url_id }}</p>

            <div>
                <p class="font-weight-normal">Notes:</p>
                <p class="font-weight-normal">{{ url_author.notes }}</p>
            </div>

            <div>
                <p class="font-weight-normal">Books:</p>
                {% for book in auth_wb %}
                <ul>
                    <li>{{book.title}}</li>
                </ul>
                {% endfor %}
            </div>

            <form action="/auth_add_book" method="POST">
            {% csrf_token %}
                <select name="selected_book" class="custom-select">
                    <option selected="">Select a book</option>
                    {% for book in books_not_written %}
                    <option value= "{{ book.id }}" selected="">{{ book.title }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary mb-2">Add</button>
            </form>
                  
            
                  
            

        

    </div>
</body>
</html>