<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results</title>
</head>
<body>

    <p>The name from the form is: <%=formdata.name%></p>
    <p>The Fav Language from the form is: <%=formdata.language%></p>
    <p>The location from the form is: <%=formdata.location%></p>
    <p>The comment from the form is: <%=formdata.comment%></p>
    
</body>
</html>