<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Form</title>
</head>
<body>

    <div class="container">
        <h1 class="display-4">Take This Survey!</h1>
        <form method="POST" action="/result">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="text" name="Name">
            </div>
            <div class="form-group">
                <label>Location</label>
                <select class="form-control" name="Location">
                    <option value="San Jose">San Jose</option>
                    <option value="Tulsa">Tulsa</option>
                    <option value="Chicago">Chicago</option>
                </select>
            </div>
            <div class="form-group">
                <label>Favorite Language</label>
                <select class="form-control" name="Language">
                    <option value="C#">C#</option>
                    <option value="Java">Java</option>
                    <option value="Python">Python</option>
                </select>
            </div>
            <div class="form-group">
                <label>Comments:</label>
                <textarea class="form-control" name="Comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    
</body>
</html>