@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<h1>Login</h1>
<partial name="LoginPartial"/>

<h1>Register</h1>
<partial name="RegisterPartial"/>

