@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<h2 class="display-4">Random Passcode (Passcode # @ViewBag.count)</h2>

<h1 class="display-4">@ViewBag.word</h1>

<a href="generate">Generate</a>
