<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    
    <nav>
        <div class="nav-wrapper indigo lighten-1">
            <a href="/" class="brand-logo">Learnify</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>Hello, {{user_info.first_name}}!</li>
            <li><a href="/logged">My Dashboard</a></li>
            <li><a href="/create_course">Create Course</a></li>
            <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
        
    <div class="container l12">
        <div class="row l12">
            <div class="col s12 m6 l5">
                <form action="/update_course/{{course.id}}" method="POST">
                    {%csrf_token%}
                    <h2>Edit a Course</h2>
                    <div class="input-field">
                        <input type="text" name="title" id="title" value="{{course.title}}">
                        <label for="title">Course Title</label>
                    </div>
                    <div class="input-field">
                        <input type="text" name="desc" id="desc" value="{{course.desc}}">
                        <label for="desc">Course Description</label>
                    </div>
                    <div class="input-field">
                        <input type="number" name="duration" id="duration" value="{{course.duration}}">
                        <label for="duration">Duration (in hours)</label>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Update Course
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
    </div>

</body>
</html>