@model chefNdish.Models.Chef;

@{
    ViewData["Title"] = "Home Page";
}

<a href="/">Home</a>

<h2 class="display-4">Add a Chef!</h2>

<form action="Edit" asp-controller="Home" method="post">

  <div class="form-group">
    <span asp-validation-for="FirstName"></span>
    <label asp-for="FirstName">First Name</label>
    <input type="text" asp-for="FirstName" value="@Model.FirstName" class="form-control">
  </div>

  <div class="form-group">
    <span asp-validation-for="LastName"></span>
    <label asp-for="LastName">Last Name</label>
    <input type="text" asp-for="LastName" value="@Model.LastName" class="form-control">

    <div class="form-group">
    <span asp-validation-for="Birthday"></span>
    <label asp-for="Birthday">Birthday</label>
    <input type="text" asp-for="Birthday" value="@Model.Birthday" class="form-control">
  </div>

  <input type="hidden" value="@Model.ChefId" asp-for="ChefId">

  <button type="submit" class="btn btn-primary">Update!</button>

  </form>