@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block w-100" src="css/imgs/zombwed.jpg" data-src="holder.js/900x400?theme=social" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4 font-weight-bolder bg-danger">Looking for Love Post Apocalypse?</h2>
                    <p class="font-weight-bolder bg-danger">Register today to find your Zombie-for-Life.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid border-bottom border-danger">
        <div class="row">
            <div class="col-lg-4">
                <partial class="col-lg-4" name="LoginPartial"/>
            </div>
            <div class="d-inline-block col-lg-8 text-center">
                <h1 class="display-4 d-inline-block p-4">Welcome!</h1>
                <p class="d-inline-block">Since the Great Transformation of 2020, ZombiesOnly has been on a mission to help Zombies find love with other Zombies. We know how hard it is to be catfished by a Vampire or mistake a Werewolf as one of your own - you can trust every humanoid on ZombiesOnly.com has been verified to test positive for the Krippin Virus </p>
                <a href="signup" class="btn btn-danger">Sign Up Today!</a>
            </div>
        </div>
    </div>

    <h2 class="display-4 text-center m-5">Zombie News</h2>

    <div class="container-fluid">
        <div class="row">

            <div class="card col-lg-4">
                <img class="card-img-top" src="/css/imgs/zombtest.JPG">
                <div class="card-body">
                    <h4 class="card-title">Scientist Finds "Cure"</h4>
                    <p class="card-text">
                    Dr. Robert Neville continues to devote his life to a "Cure". Humans continue to demonize and misunderstand the Zombie Species. Zombie Psychologists speculate the desire to "cure" is merely the human solution to now being second-in-line on the food chain they dominated for the past thousand years...
                    </p>
                    <a href="#!" class="btn btn-primary">Read More</a>
                </div>
            </div>

            <div class="card col-lg-4">
                <img class="card-img-top" src="/css/imgs/hocuspocus.png">
                <div class="card-body">
                    <h4 class="card-title">William Butcherson Gets a Second Chance</h4>
                    <p class="card-text">
                    Last week, a virgin lit the Black Flame Candle in Salem, Oregon. The Sanderson Sisters have been resurected and brought back with them Zombie, William Butcherson. The Zombie community has welcomed Will with open arms as many volunteer to show him around the modern world. William died in 1693...
                    </p>
                    <a href="#!" class="btn btn-primary">Read More</a>
                </div>
            </div>

            <div class="card col-lg-4">
                <img class="card-img-top" src="/css/imgs/thriller.jpg">
                <div class="card-body">
                    <h4 class="card-title">Zombie's Celebrate Michael Jackson as Leader in Zombie's Rights</h4>
                    <p class="card-text">
                    As October approaches, Zombies everywhere remember Michael Jackson and his contribution to Human pop culture as Jackson hired Zombie Specie actors to play Zombie roles. Jackson's hit song "Thriller" heightened Human's Zombie awareness which began the...
                    </p>
                    <a href="#!" class="btn btn-primary">Read More</a>
                </div>
            </div>

        </div>
    </div>


    
</div>
