<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Stats</title>
</head>
<body>

    <div class="container bg-dark text-light">

            <h1 class="display-2 d-inline-block border border-primary border-top-0 border-left-0 border-right-0">Hello {{ user_info.first_name }}!</h1>
            <div class="d-flex">
                <a class="float-right" href="/logout">Log Out</a>
            </div>
            <a class="float-right" href="/logged">Dashboard</a>
        </div>

        <div class="container">
            {% if granted_count %}
            <p>Your granted wishes: {{ granted_count }}</p>
            {% else %}
            <p>No granted wishes.</p>
            {% endif %}
    
            {% if pending_count %}
            <p>Your pending wishes: {{ pending_count }}</p>
            {% else %}
            <p>No pending wishes.</p>
            {% endif %}
        </div>
    
</body>
</html>