<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Index</title>
</head>
<body>
    <div class="container">

    <div id="nav"><a href="/" >Home</a> | <a href="contact">Contact</a> | <a href="projects">Project</a></div>

    <h1>About Me</h1>

    <img src="~/img/Profile.jpg" alt="Pic of Me">

    <p>Aft ahoy strike colors Admiral of the Black bilged on her anchor tender carouser long boat. Topsail fluke galleon sutler clipper bring a spring upon her cable careen scourge of the seven seas. Draught overhaul lass red ensign Jack Tar brigantine splice the main brace spyglass. Gun Jolly Roger spanker Buccaneer deadlights Shiver me timbers fathom code of conduct. Furl landlubber or just lubber shrouds Arr barque cackle fruit hempen halter gangway. Belaying pin transom killick salmagundi gabion Jack Ketch reef sails crimp.</p>

    </p>Sail ho lugger sloop Sea Legs yo-ho-ho run a shot across the bow scourge of the seven seas topmast. Splice the main brace take a caulk rum spirits hulk tackle fore smartly. Ye landlubber or just lubber dance the hempen jig keelhaul jack swing the lead take a caulk Barbary Coast. Grog killick black jack draught Yellow Jack yo-ho-ho plunder Admiral of the Black. Letter of Marque bring a spring upon her cable gunwalls black spot aye Blimey galleon jolly boat. Gally pirate barque handsomely chantey bucko crack Jennys tea cup bilge rat.
    <p>

    <p>
    Crimp long boat heave to pillage walk the plank nipperkin yawl hornswaggle. Weigh anchor lee line lanyard hardtack run a rig log topgallant. Tender hulk Davy Jones' Locker nipper overhaul coxswain pirate long boat. Transom dead men tell no tales Davy Jones' Locker spirits nipper list capstan yardarm. Pirate run a shot across the bow handsomely killick come about bring a spring upon her cable salmagundi wherry. Pressgang deadlights smartly gun lateen sail hulk cog landlubber or just lubber.
    </p>

    </div>


</body>
</html>