<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Projects</title>
</head>
<style>
    .img-thumbnail{
        height: 200px;
        width: 200px;
    }
</style>
<body>

    <div class="container">

    
    <div id="nav"><a href="/" >Home</a> | <a href="contact">Contact</a> | <a href="projects">Project</a></div>

    <h1>My Projects!</h1>

    <div>
        <div class="inline-block">
            <img class="img-thumbnail" src="~/img/proj1.jpg" alt="Thumbnail image">
            <div class="row">
                <p>Space Program</p>
                <p>Aft ahoy strike colors Admiral of the Black bilged on her anchor tender carouser long boat. Topsail fluke galleon sutler clipper bring a spring upon her cable careen scourge of the seven seas. Draught overhaul lass red ensign Jack Tar brigantine splice the main brace spyglass.<p>
            </div>
        </div>

        <div></div>
            <img class="img-thumbnail" src="~/img/proj2.jpeg" alt="Thumbnail image">
            <div class="row">
                <p>Printing Press</p>
                <p>Aft ahoy strike colors Admiral of the Black bilged on her anchor tender carouser long boat. Topsail fluke galleon sutler clipper bring a spring upon her cable careen scourge of the seven seas. Draught overhaul lass red ensign Jack Tar brigantine splice the main brace spyglass.<p>
            </div>
        </div>

        <div>
            <img class="img-thumbnail" src="~/img/proj3.jpg" alt="Thumbnail image">
            <div class="row">
                <p>Aft ahoy strike colors Admiral of the Black bilged on her anchor tender carouser long boat. Topsail fluke galleon sutler clipper bring a spring upon her cable careen scourge of the seven seas. Draught overhaul lass red ensign Jack Tar brigantine splice the main brace spyglass.<p>
            </div>
            <p>Computer Machine</p>
        </div>

    </div>
    </div>

    
</body>
</html>