@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The current time and date is:</h1>
    <div class="border border-dark">
        <h1>@ViewBag.date.ToString("dddd, dd MMMM yyyy h:mm")</h1>
    </div>
</div>
